:root {
    --primary-font-family: 'Roboto';
    --secondary-font-family: 'Raleway';
    --primary-font-color:#212121;
    --secondary-font-color: #757575;
    --third-font-color: #FFFFFF;
    --first-background-color:#2196F3;
}